@model Department
<div class="container">
	<h1>@Model.Name</h1>
	<img src="~/assets/img/@Model?.ImageUrl" class="card-img-top" alt="..." style="width:200px;">
	@* <div class="d-flex flex-wrap">
		@foreach (Employee employee in Model.Employees)
		{
			<div class="card m-1" style="width: 18rem;">
				<img src="~/assets/img/@blog?.ImageUrl" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@blog.Name</h5>
					<p class="card-text">@blog.Description</p>
				</div>
			</div>
		}
	</div> *@
</div>
