@using PestKit.ViewModels
@model LoginVM
<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Login</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Login</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Register Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <form method="post">
                <div class="col-4 offset-4">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="mb-3">
                        <label asp-for="UsernameOrEmail" class="form-label">Username or Email</label>
                        <input asp-for="UsernameOrEmail" class="form-control" placeholder="Username or Email">
                        <span class="text-danger" asp-validation-for="UsernameOrEmail"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-warning w-100">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Register End -->